.env
Scripts/
Include/
bin/
lib/
.vscode/
pyvenv.cfg
SEAS.code-workspace
2009 Spring to 2021 Summer.xlsx
2021 Summer and Spring.xlsx
*/*/migrations/
*/*/__pycache__/
*/__pycache__/
PopulateDatabaseAll.sql
courseCodeData.csv
2009 Spring to 2021 Summer.csv