{% extends 'base.html' %}
{% block title %}Revenue of Departments{% endblock title %}

{% block content %}

    <table style="width:50%">
        <thead>
            <tr><th colspan="7" style="text-align:center">Historical Revenue Data of all Schools in IUB</th></tr>
        </thead>
        <thead>
            <tr>
            ​    {% for colName in colNames %}​
                    <th>​{{colName}}​</th>
            ​    {% endfor %} 
            ​</tr> 
        </thead>
        <tbody>
            {% for row in revenues %} 
​            <tr>
                {% for item in row %}
​                ​​<td>​{{item}}​</td> 
    ​            {% endfor %}
            </tr>
    ​        {% endfor %}
        </tbody> 
    </table>

    <div class="col">
        <div class="col-6">
            <canvas id="iubRevTrendChart"></canvas>     <!-- Revenue trend of all schools -->
        </div>

        <div class="col-7">
            <canvas id="iubRevDistChart"></canvas>      <!-- Revenue distribution of all schools -->
        </div>

        <div class="col-8">
            <canvas id="iubRevChangeChart"></canvas>     <!-- Revenue trend of IUB and change -->
        </div>
    </div>

    <script>
        let revTrendCtx = document.getElementById("iubRevTrendChart").getContext("2d");

        let chart1 = new Chart( revTrendCtx, {
                type: "line",
                labels: xAxis,
                datasets: yAxis,
                options: {
                    title: {
                        text: "Revenue Trend of Schools",
                        display: true,
                        padding: {
                            top: 10,
                            bottom: 30
                        }
                    }
                }
            }          
        );
    </script>


  </div>
{% endblock content %}