{% extends 'base.html' %}
{% block title %}Enrollment Data{% endblock title %}

{% block content %}
    <h1> School Wise Enrollment Compact view AND Chart</h1>
    <div class= "title row">
        <h1>{{selectedSession}}, {{selectedYear}}</h1>
    </div>
    <div class= "searchRow">
        <form method="POST" class="semesterSelection">
            {% csrf_token %}
            <select name="selectedSession">
                {% for session in sessions %}
                    <option value="{{ session.0 }}">{{session.0}}</option>
                {% endfor %}
            </select>
            <select name="selectedYear">
                {% for year in years %}
                    <option value="{{ year.0 }}">{{ year.0}}</option>
                {% endfor %}
            </select>
            <button type="submit">Load</button>
        </form> 
    </div>
    <div class="row">
        <div class='col-md-6'>
            <table style="width:90%">
                <thead style = "border: 1px solid black">
                    <tr> <th colspan="7", style="text-align:center">{{selectedSession}}</th></tr>
                    </thead>
                    <thead style = "border: 1px solid black">
                    <tr>
                        {% for colName in labels %}
                            <th style="text-align:center">{{colName}}</th>
                        {% endfor %} 
                    </tr> 
                </thead>
                <tbody style = "border: 1px solid black">
                    {% for row in data %} 
                    <tr>
                        {% for item in row %} 
                        <td style="text-align:center">{{item}}</td> 
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </tbody> 
            </table>
        </div>
    </div>
    <div class="col-md-6" style="width:50%; height:50%;">
        <canvas id="myChart" width="400" height="400"></canvas>
            <script>
                const ctx = document.getElementById('myChart').getContext('2d');

                let chart_X = [ {% for range in xAxis %} '{{range}}', {% endfor %} ];

                let chart_Y = [ 
                    {% for key in yAxis %} 
                    {
                        label: '{{key.label}}',
                        data: [ {% for dat in key.data %} {{dat}}, {% endfor %} ],
                        borderColor: '{{key.borderColor}}',
                        //  fill: false
                    },
                    {% endfor %}
                ]
                let chart1_Y = [
                    {
                        type: 'line',
                        yAxisID: "right-y-axis",
                        label: 'Total',
                        data: [ {% for total in totals %} {{total}}, {% endfor %} ],
                        borderColor: '#ff00ff'
                    }, {
                        type: 'bar',
                        yAxisID: "left-y-axis",
                        label: chart_X,
                        data:[ {% for total in chart_Y %} 
                                {% for t in total %}   
                                {{total}}, {% endfor %} ],
                        borderColor: '#00ff00',
                        backgroundColor: '#00ff00'
                    },
                    {
                        type: 'bar',
                        yAxisID: "left-y-axis",
                        label: chart_X,
                        data:[ {% for total in chart_Y %} {{total}}, {% endfor %} ],
                        borderColor: '#00ff00',
                        backgroundColor: '#00ff00'
                    },
                    {
                        type: 'bar',
                        yAxisID: "left-y-axis",
                        label: chart_X,
                        data:[ {% for total in chart_Y %} {{total}}, {% endfor %} ],
                        borderColor: '#00ff00',
                        backgroundColor: '#00ff00'
                    }
                ]
                const chartRevChange = new Chart( ctx, {
                    data: {
                        labels:   chart_X,
                        datasets: chart1_Y
                    },
                    options: {
                        responsive: true,
                        title: {
                            text: "Something",
                            display: true,
                            padding: {
                                top: 10,
                                bottom: 30
                            }
                        },
                        scales: {
                            'left-y-axis' :{
                                type: "linear",
                                position: "left",
                                grid: {
                                    drawOnChartArea: false
                                }
                            }, 
                            'right-y-axis': {
                                type: "linear",
                                position: "right",
                                grid: {
                                    drawOnChartArea: false
                                }
                            },
                        }, 
                    }
                });
            </script>
        </div>
    </div>
{% endblock content %}



plugins: {
    title: {
        display: true,
        text: ' ',
        font: {
            size: 20
        },
    },
    datalabels: {
        formatter: (value, context) => {
            {% with lastTableRow=Data|last %}
            let total = {{lastTableRow.3}}
            {% endwith %}
            return (context.chart.data.datasets[0].data[context.dataIndex]/total*100).toFixed(1)+"%";
        },
        labels: {
            value: {
                color: 'blue'
            }
        },
        anchor: 'end',
        align: 'start',

    }
}