{% extends 'base.html' %}
{% block title %}Enrollment Expanded{% endblock title %}

{% block content %}
  <caption>School Wise Enrollment</caption>
  <div class="row">
    <div class='col-md-6'>
  <table style="width:50%">
      ​​<thead>
          <tr> <th colspan="7">SPRING</th></tr>
          </thead>
          <thead>
          <tr>
          ​    {% for colName in labels %}​
                  <th>​{{colName}}​</th>
          ​    {% endfor %} 
          ​</tr> 
      </thead>
      <tbody>
          {% for row in data %} 
​            ​<tr>
              {% for item in row %} 
  ​                ​​<td>​{{item}}​</td> 
  ​            {% endfor %}
          </tr>
​                {% endfor %}
      </tbody> 
  </table>
</div>
</div>
<div class="col-md-6" style="width:50%; height:50%;">
  <canvas id="myChart" width="400" height="400"></canvas>
  <script>
  const ctx = document.getElementById('myChart').getContext('2d');
  
  const myChart = new Chart(ctx, {
      type: 'bar',
      data: {
          
          labels: [{% for data in data %} '{{data.0}}', {% endfor %}],

          datasets: [
               
              {label: [{% for label in labels%} '{{label}}', {% endfor %}],
              data: [{% for data in data %} '{{data.1}}', {% endfor %}
              ],},
              {label: [{% for label in labels%} '{{label}}', {% endfor %}],
              data: [{% for data in data %} '{{data.2}}', {% endfor %}
              ],},
              {label: [{% for label in labels%} '{{label}}', {% endfor %}],
              data: [{% for data in data %} '{{data.3}}', {% endfor %}
              ],},
              {label: [{% for label in labels%} '{{label}}', {% endfor %}],
              data: [{% for data in data %} '{{data.4}}', {% endfor %}
              ],},
              {label: [{% for label in labels%} '{{label}}', {% endfor %}],
              data: [{% for data in data %} '{{data.5}}', {% endfor %}],
             
              borderWidth: 1
          },
          {
            label: [{% for label in labels%} '{{label}}', {% endfor %}],
           data: [{% for data in data %} '{{data.6}}', {% endfor %}],
           type: 'line',
           // this dataset is drawn on top
           order: 1
          }]
      },
      
  });
  </script>
</div>
</div>

{% endblock content %}