{% extends 'base.html' %}
{% block title %}Enrollment Expanded{% endblock title %}

{% block content %}
<h1> School Wise Enrollment Expanded View</h1>
    <div class= "title row">
        <h1>{{selectedSession}}, {{selectedYear}}</h1>
    </div>
    <div class= "searchRow">
        <form method="POST" class="semesterSelection">
            {% csrf_token %}
            {% comment %} {{ forms }} {% endcomment %}
            <select name="selectedSession">
                {% for session in sessions %}
                    <option value="{{ session.0 }}">{{session.0}}</option>
                {% endfor %}
            </select>
            <select name="selectedYear">
                {% for year in years %}
                    <option value="{{ year.0 }}">{{ year.0}}</option>
                {% endfor %}
            </select>
            <button type="submit">Load</button>
        </form> 
    </div>
    <table style="width:50%">
        ​​<thead>
    
            <tr  style = "border: 1px solid black" >
               
                <th colspan="7", style="text-align:center">{{selectedSession}}</th></tr>
            </thead>
            <thead>
            <tr style = "border: 1px solid black">
            ​    {% for colName in tableCol %}​
                    <th style="text-align:center">​{{colName}}​</th>
            ​    {% endfor %} 
            ​</tr> 
        </thead>
        <tbody  style = "border: 1px solid black">
            {% for row in tableRow|slice:":-1"%} 
 ​            ​<tr>
                {% for item in row %} 
    ​                ​​<td style="text-align:center">​{{item}}​</td> 
    ​            {% endfor %}
            </tr>
 ​           {% endfor %}

            <tr style = "border: 1px solid black">
                {% with lastTableRow=tableRow|last %}
                {% for item in lastTableRow %}
                    <th style="text-align:center">{{item}}</th>
                {% endfor %}
                {% endwith %}
            </tr>
        </tbody> 
    </table>
{% endblock content %}