{% extends 'base.html' %}
{% block title %}Enrollment Expanded{% endblock title %}

{% block content %}
<h1> School Wise Enrollment Expanded View</h1>
    <div class= "title row">
        <h1>{{selectedSession}}, {{selectedYear}}</h1>
    </div>
    <div class= "searchRow">
        <form method="POST" class="semesterSelection">
            {% csrf_token %}
            {% comment %} {{ forms }} {% endcomment %}
            <select name="selectedSession">
                {% for session in sessions %}
                    <option value="{{ session.0 }}">{{session.0}}</option>
                {% endfor %}
            </select>
            <select name="selectedYear">
                {% for year in years %}
                    <option value="{{ year.0 }}">{{ year.0}}</option>
                {% endfor %}
            </select>
            <button type="submit">Load</button>
        </form> 
    </div>
    <table class="increment1Table">
        <thead>
            <tr>
                <th colspan="7">{{selectedSession}}</th></tr>
        </thead>
        <thead class="fixedHeader">
            <tr>
                {% for colName in tableCol %}
                    <th>{{colName}}</th>
                {% endfor %} 
            </tr> 
        </thead>
        <tbody class="scrollContent">
            {% for row in tableRow|slice:":-1"%} 
             <tr>
                {% for item in row %} 
                    {% if item == 0 %}
                        <td></td>
                    {%else%}
                        <td>{{item}}</td> 
                    {% endif %}
                {% endfor %}
            </tr>
            {% endfor %}

        </tbody> 
        <thead class="fixedHeader">
            <tr">
                <th>Total</th>
                {% with lastTableRow=tableRow|last %}
                    {% for item in lastTableRow|slice:"-6:" %} 
                        <th>{{item}}</th>
                    {% endfor %}
                {% endwith %}
            </tr>
        </thead>
    </table>
{% endblock content %}