{% extends 'base.html' %}
{% block title %}Revenue of {{schoolSelected}}{% endblock title %}

{% block content %}

	{% load static %}
	<link rel="stylesheet" type="text/css" href="{% static 'collapsibletable.css' %}">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <h1> Department-wise Revenue Breakdown</h1>
	<h1>{{schoolSelected}}</h1>
	<div class= "searchRow">
		<form method="POST">
			<label>Select a school to view</label><br>
			{% csrf_token %}
			<select name="selectedSchool">
				{% for school in schools %}
					<option value="{{ school }}">{{ school }}</option>
				{% endfor %}
			</select>
			<button type="submit">Load</button>
		</form> 
	</div>

	<div>
		<canvas id="schoolRevTrendChart"></canvas> 
		<canvas id="schoolRevDistChart"></canvas>
		<script>
			let ctxTrend = document.getElementById("schoolRevTrendChart").getContext("2d");
            let ctx2Dist = document.getElementById("schoolRevDistChart").getContext("2d");

			let chartX = [ {% for semester in xAxis %} '{{semester}}', {% endfor %} ];

			let chartTrend_Y = [ 
                {% for key in yAxis %} 
                {
                    label: '{{key.label}}',
                    data: [ {% for rev in key.data %} {{rev}}, {% endfor %} ],
                    borderColor: '{{key.borderColor}}',
                    fill: false
                },
                {% endfor %}
            ]

			const chartTrend = new Chart( ctxTrend, {
					type: "line",
					data: {
						labels:   chartX,
						datasets: chartTrend_Y
					},
					options: {
						responsive: true,
						plugins: {
							title: {
								text: "Revenue Trend of Departments",
								display: true,
								padding: {
									top: 10,
									bottom: 30
								}
							}
						}
					}
				}          
			);

			let chartDist_Y = [ 
				{% for key in yAxis %} 
				{
					label: '{{key.label}}',
					data: [ {% for rev in key.data %} {{rev}}, {% endfor %} ],
					borderColor: '{{key.borderColor}}',
					backgroundColor: '{{key.borderColor}}',
					fill: true
				},
				{% endfor %}
			]

			const chartDist = new Chart( ctx2Dist, {
					type: "line",
					data: {
						labels:   chartX,
						datasets: chartDist_Y
					},
					options: {
						responsive: true,
						plugins: {
							title: {
								text: 'Revenue Distribution among Departments',
								display: true,
								padding: {
									top: 10,
									bottom: 30
								}
							},
						},
						scales: {
							y: { stacked: 'single' }
						}
					}
				}          
			);
		</script>	

		<div class="panel-group">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h1 class="panel-title">
					<a data-toggle="collapse" href="#collapse1">Click to view individual department's revenue and % changes</a>
					</h1>
				</div>
				<div id="collapse1" class="panel-collapse collapse">
					{% for dep in yAxis %}
					<canvas id="{{dep.label}}RevTrendChart"></canvas> 
					{% endfor %}

					<script>
						let chartX2 = [ {% for semester in xAxis %} '{{semester}}', {% endfor %} ];

						{% for dep in yAxis %}
						let ctx{{dep.label}} = document.getElementById("{{dep.label}}RevTrendChart").getContext("2d");

						let data{{dep.label}} = [ 
							{
								type: 'line',
								yAxisID: "left-y-axis",
								label: '{{dep.label}} revenue',
								data: [ {% for rev in dep.data %} {{rev}}, {% endfor %} ],
								borderColor: '{{dep.borderColor}}',
								trendlineLinear: {
									style: "rgba(255,105,180, .8)",
									lineStyle: "dotted",
									width: 2
								}
							}, {
								type: 'bar',
								yAxisID: "right-y-axis",
								label: '% Change in Revenue',
								data: [ {% for change in dep.change %} {{change}}, {% endfor %} ],
								borderColor: '{{dep.backgroundColor}}',
								backgroundColor: '{{dep.backgroundColor}}',
							}
						]

						const chart{{dep.label}} = new Chart( ctx{{dep.label}}, {
								data: {
									labels:   chartX2,
									datasets: data{{dep.label}}
								},
								options: {
									responsive: true,
									plugins: {
										title: {
											text: "{{dep.label}} Revenue and % Change",
											display: true,
											padding: {
												top: 10,
												bottom: 30
											}
										}	
									},
									scales: {
										'left-y-axis' :{
											type: "linear",
											position: "left",
											grid: {
												drawOnChartArea: false
											}
										}, 
										'right-y-axis': {
											type: "linear",
											position: "right",
											grid: {
												drawOnChartArea: false
											}
										},
									}, 
								}
							}          
						);
						{% endfor %}
					</script>
				</div>
			</div>
		</div> 	
	</div>

	<div class="panel-group">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h1 class="panel-title">
				<a data-toggle="collapse" href="#collapse2">Click to view Revenue Data Table</a>
				</h1>
			</div>
			<div id="collapse2" class="panel-collapse collapse">
				<table class='table'>
					<thead>
						<tr><th colspan="9" style="text-align:center">Historical Revenue Data of {{schoolSelected}}</th></tr>
					</thead>
					<thead class="fixedHeader">
						<tr>
							{% for colName in colNames %}​
							<th>​{{colName}}​</th>
							​{% endfor %} 
						​</tr> 
					</thead>
					<tbody>
						{% for row in revenues %} 
						<tr>
							{% for item in row %}
							<td>​{{item}}​</td> 
							{% endfor %}
						</tr>
						{% endfor %}
					</tbody> 
				</table>
			</div>
		</div>
	</div> 
</div>
{% endblock content %}