{% extends 'base.html' %}
{% block title %}Revenue of Schools{% endblock title %}

{% block content %}

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'collapsibletable.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <div>
        <canvas id="iubRevTrendChart"></canvas> 
        <canvas id="iubRevDistChart"></canvas>
        <canvas id="iubRevChangeChart"></canvas> 

        <script>
            // Chart.register(ChartDataLabels);
            let ctx1 = document.getElementById("iubRevTrendChart").getContext("2d");
            let ctx2 = document.getElementById("iubRevDistChart").getContext("2d");
            let ctx3 = document.getElementById("iubRevChangeChart").getContext("2d");

            let chartX = [ {% for semester in xAxis %} '{{semester}}', {% endfor %} ];

            let chart1_Y = [ 
                {% for key in yAxis %} 
                {
                    label: '{{key.label}}',
                    data: [ {% for rev in key.data %} {{rev}}, {% endfor %} ],
                    borderColor: '{{key.borderColor}}',
                    fill: false
                },
                {% endfor %}
            ]

            const chartTrend = new Chart( ctx1, {
                    type: "line",
                    data: {
                        labels:   chartX,
                        datasets: chart1_Y
                    },
                    options: {
                        responsive: true,
                        plugins: {
                            title: {
                                text: "Revenue Trend of Schools",
                                display: true,
                                padding: {
                                    top: 10,
                                    bottom: 30
                                }
                            }
                        }
                    }
                }          
            );
            
            let chart2_Y = [ 
                {% for key in yAxis %} 
                {
                    label: '{{key.label}}',
                    data: [ {% for rev in key.data %} {{rev}}, {% endfor %} ],
                    borderColor: '{{key.borderColor}}',
                    backgroundColor: '{{key.borderColor}}',
                    fill: true
                },
                {% endfor %}
            ]

            const chartDist = new Chart( ctx2, {
                    type: "line",
                    data: {
                        labels:   chartX,
                        datasets: chart2_Y
                    },
                    options: {
                        responsive: true,
                        plugins: {
                            title: {
                                text: 'Revenue Distribution among Schools',
                                display: true,
                                padding: {
                                    top: 10,
                                    bottom: 30
                                }
                            }
                        },
                        scales: {
                            y: { stacked: 'single' }
                        }
                    }
                }          
            );

            let chart3_Y = [
                {
                    type: 'line',
                    yAxisID: "left-y-axis",
                    label: 'IUB revenue',
                    data: [ {% for rev in totals %} {{rev}}, {% endfor %} ],
                    borderColor: '#ff00ff',
                }, {
                    type: 'bar',
                    yAxisID: "right-y-axis",
                    label: '% Change in Revenue',
                    data: [ {% for change in changes %} {{change}}, {% endfor %} ],
                    borderColor: '#00ff00',
                    backgroundColor: '#00ff00'
                }
            ]
            
            const chartRevChange = new Chart( ctx3, {
                    data: {
                        labels:   chartX,
                        datasets: chart3_Y
                    },
                    options: {
                        responsive: true,
                        plugins: {
                            title: {
                                text: "Revenue and % Change",
                                display: true,
                                padding: {
                                    top: 10,
                                    bottom: 30
                                }
                            }
                        },
                        scales: {
                            'left-y-axis' :{
                                type: "linear",
                                position: "left",
                                grid: {
                                    drawOnChartArea: false
                                }
                            }, 
                            'right-y-axis': {
                                type: "linear",
                                position: "right",
                                grid: {
                                    drawOnChartArea: false
                                }
                            },
                        }, 
                    }
                }          
            );
        </script>
    </div>

    <div class="panel-group">
		<div class="panel panel-default">
		  <div class="panel-heading">
			<h1 class="panel-title">
			  <a data-toggle="collapse" href="#collapse1">Click to view Revenue Data Table</a>
			</h1>
		  </div>
		  <div id="collapse1" class="panel-collapse collapse">
                <table class='table' style="width:50%">
                    <thead>
                        <tr><th colspan="8" style="text-align:center">Historical Revenue Data of all Schools in IUB</th></tr>
                    </thead>
                    <thead class="fixedHeader">
                        <tr>
                            {% for colName in colNames %}​
                            <th>​{{colName}}​</th>
                            {% endfor %} 
                        ​</tr> 
                    </thead>
                    <tbody>
                        {% for row in revenues %} 
                        <tr>
                            {% for item in row %}
                            <td>​{{item}}​</td> 
                            {% endfor %}
                        </tr>
                        {% endfor %}
                    </tbody> 
                </table>
            </div>
		</div>
	</div> 


{% endblock content %}