<script>
  $(document).ready(function () {
    $(".dropdown-submenu a.test").on("click", function (e) {
      $(this).next("ul").toggle();
      e.stopPropagation();
      e.preventDefault();
    });
  });
</script>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">SEAS</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a
            class="nav-link active"
            aria-current="page"
            href="{% url 'home:home' %}"
            method="get"
            >Home</a
          >
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Navigate Pages
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li>
              <a class="dropdown-item" href="{% url 'update:upload_file' %}">
                Update Database
              </a>
            </li>
            <li><hr class="dropdown-divider" /></li>
            <li>
              <a class="dropdown-item" href="{% url 'classReq:classReq' %}">
                Classroom Requirements
              </a>
            </li>
            <li><hr class="dropdown-divider" /></li>
            <li>
              <a class="dropdown-item" href="{% url 'revenue:iubRevenue' %}">
                Revenue Of IUB
              </a>
            </li>
            <li>
              <a class="dropdown-item" href="{% url 'revenue:schoolRevenue' %}">
                School Revenue Breakdown
              </a>
            </li>
            <li><hr class="dropdown-divider" /></li>
            <li>
              <a class="dropdown-item" href="{% url 'enrollment:expanded' %}">
                Enrollment Information (Expanded)
              </a>
            </li>
            <li>
              <a class="dropdown-item" href="{% url 'enrollment:compact' %}">
                Enrollment Information (Compact)
              </a>
            </li>
            <li><hr class="dropdown-divider" /></li>
            <li>
              <a
                class="dropdown-item"
                href="{% url 'resources:Resource_Usage' %}"
              >
                Usage Of The Resources
              </a>
            </li>
            <li>
              <a
                class="dropdown-item"
                href="{% url 'resources:Resource_Comparison' %}"
              >
                Availability and course offering comparison
              </a>
            </li>
            <li><hr class="dropdown-divider" /></li>
            <li>
              <a class="dropdown-item" href="{% url 'admin:index' %}">
                Administration
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
    <div class="justify-content-end">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a
            class="nav-link active"
            aria-current="page"
            href="logout"
            method="post"
            >Logout</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
