{% extends 'base.html' %}
{% block title %}Classroom Requirement As Per Course Requirement (Summary){% endblock title %}


{% block content %}


    <h1>Classroom Requirement As Per Course Requirement (Summary)</h1>
    <div class= "title row">
        <h1>{{selectedSession}}, {{selectedYear}}</h1>
    </div>
    <div class= "search row">
        <form method="POST">
            {% csrf_token %}
            {% comment %} {{ forms }} {% endcomment %}
            <select name="selectedSession">
                {% for session in sessions %}
                    <option value="{{ session.0 }}">{{session.0}}</option>
                {% endfor %}
            </select>
            <select name="selectedYear">
                {% for year in years %}
                    <option value="{{ year.0 }}">{{ year.0}}</option>
                {% endfor %}
            </select>
            <button type="submit">Load</button>
        </form> 
    </div>
    <div class="view row">
        <div class='col-md-4 table'>
            <table>
                <thead>
                    <tr>
                        {% for colName in tableHeaders %}<th>{{colName}}</th>{% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% for row in tableData %}
                        <tr>
                            {% for item in row %}
                                <td>{{item}}</td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>  
    
        <div class="col-md-5" style="width:25vw;">
            <canvas id="pieChartD6" width="400" height="400"></canvas>
            <script>
                const ctx1 = document.getElementById('pieChartD6').getContext('2d');
                var data = [{
                    //label: [{% for data in tableData|slice:":-1" %} '{{data.0}}', {% endfor %}],
                    data: [{% for data in tableData|slice:":-1" %} '{{data.2}}', {% endfor %}],
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(153, 102, 255, 0.2)',
                        'rgba(255, 159, 64, 0.2)'
                    ],
                    borderColor: [
                        'rgba(255, 99, 132, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)'
                    ],
                    borderWidth: 1
                }]
                {% comment %} TODO PERCENTAGE DOESN"T WORK
                var options = {
                    tooltips: {
                        enabled: false
                    },
                    plugins: {
                        datalabels: {
                            formatter: (value, ctx1) => {
                                let sum = 0;
                                let dataArr = ctx1.data.datasets[0];
                                dataArr.map(data => {
                                    sum += data;
                                });
                                let percentage = (value*100 / sum).toFixed(2)+"%";
                                return percentage;
                            },
                            color: '#fff',
                        }
                    }
                } 
                {% endcomment %}
                var pieChartD6 = new Chart(ctx1, {
                    type: 'pie',
                    data: {
                        labels: [{% for data in tableData|slice:":-1" %} '{{data.0}}', {% endfor %}],
                        datasets: data
                    },
                    //options: options
                }); 
            </script>
        </div>

        <div class="col-md-5" style="width:25vw;">
            <canvas id="pieChartD7" width="400" height="400"></canvas>
            <script>
                const ctx2 = document.getElementById('pieChartD7').getContext('2d');
                var data = [{
                    //label: [{% for data in tableData|slice:":-1" %} '{{data.0}}', {% endfor %}],
                    data: [{% for data in tableData|slice:":-1" %} '{{data.3}}', {% endfor %}],
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(153, 102, 255, 0.2)',
                        'rgba(255, 159, 64, 0.2)'
                    ],
                    borderColor: [
                        'rgba(255, 99, 132, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)'
                    ],
                    borderWidth: 1
                }]
                {% comment %} TODO PERCENTAGE DOESN"T WORK 
                var options = {
                    tooltips: {
                        enabled: false
                    },
                    plugins: {
                        datalabels: {
                            formatter: (value, ctx2) => {
                                /*
                                let sum = 0;
                                let dataArr = ctx2.chart.data.datasets[0].data;
                                
                                dataArr.map(data => {
                                    sum += data;
                                });
                                */  
                                let sum = ctx2.dataset._meta[0].total
                                let percentage = (value*100 / sum).toFixed(2)+"%";
                                return percentage;
                            },
                            color: '#fff',
                        }
                    }
                } 
                {% endcomment %}
                var pieChartD7 = new Chart(ctx2, {
                    type: 'pie',
                    data: {
                        labels: [{% for data in tableData|slice:":-1" %} '{{data.0}}', {% endfor %}],
                        datasets: data
                    },
                    //options: options
                }); 
            </script>
        </div>
    </div>

{% endblock content %}