{% extends 'base.html' %}
{% block title %}Classroom Requirement As Per Course Requirement (Summary){% endblock title %}


{% block content %}


    <h1>Classroom Requirement As Per Course Requirement (Summary)</h1>
    <div class= "title row">
        <h1>{{selectedSession}}, {{selectedYear}}</h1>
    </div>
    <div class= "search row">
        <form method="POST">
            {% csrf_token %}
            {% comment %} {{ forms }} {% endcomment %}
            <select name="selectedSession">
                {% for session in sessions %}
                    <option value="{{ session.0 }}">{{session.0}}</option>
                {% endfor %}
            </select>
            <select name="selectedYear">
                {% for year in years %}
                    <option value="{{ year.0 }}">{{ year.0}}</option>
                {% endfor %}
            </select>
            <button type="submit">Load</button>
        </form> 
    </div>
    <div class="view row">
        <div class='col-md-6'>
            <table>
                <thead>
                    <tr>
                        {% for colName in tableHeaders %}<th>{{colName}}</th>{% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% for row in tableData %}
                        <tr>
                            {% for item in row %}
                                <td>{{item}}</td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    
        <div class="col-md-6" style="width:50%; height:50%;">
            <canvas id="myChart" width="400" height="400"></canvas>
            <script>
            const ctx = document.getElementById('myChart').getContext('2d');
            
            const myChart = new Chart(ctx, {
                type: 'pie',
                data: {

                    labels: [{% for data in tableData|slice:":-1" %} '{{data.0}}', {% endfor %}],

                    datasets: [{
                        label: '# of Votes',
                        data: [{% for data in tableData|slice:":-1" %} '{{data.2}}', {% endfor %}],
                        backgroundColor: [
                            'rgba(255, 99, 132, 0.2)',
                            'rgba(54, 162, 235, 0.2)',
                            'rgba(255, 206, 86, 0.2)',
                            'rgba(75, 192, 192, 0.2)',
                            'rgba(153, 102, 255, 0.2)',
                            'rgba(255, 159, 64, 0.2)'
                        ],
                        borderColor: [
                            'rgba(255, 99, 132, 1)',
                            'rgba(54, 162, 235, 1)',
                            'rgba(255, 206, 86, 1)',
                            'rgba(75, 192, 192, 1)',
                            'rgba(153, 102, 255, 1)',
                            'rgba(255, 159, 64, 1)'
                        ],
                        borderWidth: 1
                    }]
                },
            });
            </script>
        </div>
    </div>

{% endblock content %}