{% extends 'base.html' %}
{% block title %}Classroom Requirement As Per Course Requirement (Summary){% endblock title %}

{% block content %}

    <div class= "searchRow">
        <form method="POST" class="semesterSelection">
            {% csrf_token %}
            {% comment %} {{ forms }} {% endcomment %}
            <select name="selectedSession">
                {% for session in sessions %}
                    <option value="{{ session.0 }}">{{session.0}}</option>
                {% endfor %}
            </select>
            <select name="selectedYear">
                {% for year in years %}
                    <option value="{{ year.0 }}">{{ year.0}}</option>
                {% endfor %}
            </select>
            <button type="submit">Load</button>
        </form> 
        <button onclick="window.print()">Print this page</button>
    </div>

    <h1>Classroom Requirement As Per Course Requirement (Summary)</h1>
    <div class= "title row">
        <h1>{{selectedSession}}, {{selectedYear}}</h1>
    </div>
    <div class="table row">
        <div class='col-xs-1 table'>
            <table class="mytable">
                <thead class="fixedHeader">
                    <tr>
                        {% for colName in tableHeaders %}<th>{{colName}}</th>{% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% for row in tableData|slice:":-1" %}
                    <tr>
                        {% for item in row %}
                            <td>{{item}}</td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                    <tr>
                    {% with lastTableRow=tableData|last %}
                        {% for item in lastTableRow %}
                            <th>{{item}}</th>
                        {% endfor %}
                    {% endwith %}
                    </tr>
                </tbody>
            </table>
        </div> 
    </div>
    <div class="chart row" style="width:90%; margin-left: auto;margin-right: auto;">
        <div class="col-md-6">
            <canvas id="pieChartD6" width="100%"></canvas>
            <script>
                Chart.register(ChartDataLabels);
                const ctx1 = document.getElementById('pieChartD6').getContext('2d');
                var data = [{
                    data: [{% for data in tableData|slice:":-1" %} '{{data.2}}', {% endfor %}],
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.5)',
                        'rgba(54, 162, 235, 0.5)',
                        'rgba(255, 206, 86, 0.5)',
                        'rgba(75, 192, 192, 0.5)',
                        'rgba(153, 102, 255, 0.5)',
                        'rgba(255, 159, 64, 0.5)',
                        'rgba(217, 248, 77, 0.5)',
                        'rgba(248, 77, 220, 0.5)',
                        'rgba(140, 248, 77, 0.5)'
                    ],
                    borderColor: [
                        'rgba(255, 99, 132, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)'
                    ],
                    borderWidth: 1
                }]
                var options = {
                    tooltips: {
                        enabled: false
                    },
                    plugins: {
                        title: {
                            display: true,
                            text: 'Class size 6 requirement: {{selectedSession}}, {{selectedYear}}',
                            font: {
                                size: 20
                            },
                        },
                        datalabels: {
                            formatter: (value, context) => {
                                {% with lastTableRow=tableData|last %}
                                let total = {{lastTableRow.2}}
                                {% endwith %}
                                return (context.chart.data.datasets[0].data[context.dataIndex]/total*100).toFixed(1)+"%";
                            },
                            labels: {
                                value: {
                                    color: 'blue'
                                }
                            },
                            anchor: 'end',
                            align: 'start',

                        }
                    }
                } 
                
                var pieChartD6 = new Chart(ctx1, {
                    type: 'pie',
                    data: {
                        labels: [{% for data in tableData|slice:":-1" %} '{{data.0}}', {% endfor %}],
                        datasets: data
                    },
                    options: options
                }); 
            </script>
        </div>

        <div class="col-md-6">
            <canvas id="pieChartD7" width="100%"></canvas>
            <script>
                const ctx2 = document.getElementById('pieChartD7').getContext('2d');
                var data = [{
                    //label: [{% for data in tableData|slice:":-1" %} '{{data.0}}', {% endfor %}],
                    data: [{% for data in tableData|slice:":-1" %} '{{data.3}}', {% endfor %}],
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.5)',
                        'rgba(54, 162, 235, 0.5)',
                        'rgba(255, 206, 86, 0.5)',
                        'rgba(75, 192, 192, 0.5)',
                        'rgba(153, 102, 255, 0.5)',
                        'rgba(255, 159, 64, 0.5)',
                        'rgba(217, 248, 77, 0.5)',
                        'rgba(248, 77, 220, 0.5)',
                        'rgba(140, 248, 77, 0.5)'
                    ],
                    borderColor: [
                        'rgba(255, 99, 132, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)'
                    ],
                    borderWidth: 1
                }]
                
                var options = {
                    tooltips: {
                        enabled: false
                    },
                    plugins: {
                        title: {
                            display: true,
                            text: 'Class size 7 requirement: {{selectedSession}}, {{selectedYear}}',
                            font: {
                                size: 20
                            },
                        },
                        datalabels: {
                            formatter: (value, context) => {
                                {% with lastTableRow=tableData|last %}
                                let total = {{lastTableRow.3}}
                                {% endwith %}
                                return (context.chart.data.datasets[0].data[context.dataIndex]/total*100).toFixed(1)+"%";
                            },
                            labels: {
                                value: {
                                    color: 'blue'
                                }
                            },
                            anchor: 'end',
                            align: 'start',

                        }
                    }
                } 
                
                var pieChartD7 = new Chart(ctx2, {
                    type: 'pie',
                    data: {
                        labels: [{% for data in tableData|slice:":-1" %} '{{data.0}}', {% endfor %}],
                        datasets: data
                    },
                    options: options
                }); 
            </script>
        </div>
    </div>

{% endblock content %}